<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated accessControl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.accesscontrol.presentation.AccesscontrolModelWizardID"
            name="%_UI_AccesscontrolModelWizard_label"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.accesscontrol.presentation.AccesscontrolModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AccesscontrolModelFile.gif">
         <description>%_UI_AccesscontrolModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated accessControl -->
      <editor
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.accesscontrol.presentation.AccesscontrolEditorID"
            name="%_UI_AccesscontrolEditor_label"
            icon="icons/full/obj16/AccesscontrolModelFile.gif"
            extensions="accesscontrol"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.accesscontrol.presentation.AccesscontrolEditor"
            contributorClass="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.accesscontrol.presentation.AccesscontrolActionBarContributor">
      </editor>
   </extension>

</plugin>
