<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.characteristics.presentation.CharacteristicsModelWizardID"
            name="%_UI_CharacteristicsModelWizard_label"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.characteristics.presentation.CharacteristicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CharacteristicsModelFile.gif">
         <description>%_UI_CharacteristicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metamodel -->
      <editor
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.characteristics.presentation.CharacteristicsEditorID"
            name="%_UI_CharacteristicsEditor_label"
            icon="icons/full/obj16/CharacteristicsModelFile.gif"
            extensions="characteristics"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.characteristics.presentation.CharacteristicsEditor"
            contributorClass="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.characteristics.presentation.CharacteristicsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.operations.presentation.OperationsModelWizardID"
            name="%_UI_OperationsModelWizard_label"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.operations.presentation.OperationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OperationsModelFile.gif">
         <description>%_UI_OperationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metamodel -->
      <editor
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.operations.presentation.OperationsEditorID"
            name="%_UI_OperationsEditor_label"
            icon="icons/full/obj16/OperationsModelFile.gif"
            extensions="operations"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.operations.presentation.OperationsEditor"
            contributorClass="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.operations.presentation.OperationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.flow.presentation.FlowModelWizardID"
            name="%_UI_FlowModelWizard_label"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.flow.presentation.FlowModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FlowModelFile.gif">
         <description>%_UI_FlowModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metamodel -->
      <editor
            id="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.flow.presentation.FlowEditorID"
            name="%_UI_FlowEditor_label"
            icon="icons/full/obj16/FlowModelFile.gif"
            extensions="flow"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.flow.presentation.FlowEditor"
            contributorClass="edu.kit.ipd.sdq.dataflow.privacy.analysis.metamodel.flow.presentation.FlowActionBarContributor">
      </editor>
   </extension>

</plugin>
