/.PCM2IntermediateModelTransformator.java._trace
/.PCM2IntermediateModelTransformatorImpl.java._trace
/.PCM2IntermediateModelTransformatorImpl.xtendbin
/PCM2IntermediateModelTransformatorImpl.java
/.PCM2DFSystemModelTransformation.java._trace
/.DataOperationSeffInstance.java._trace
/.SEFFInstance.java._trace
/.PCM2DFSystemModelTransformationBackup.java._trace
/.SEFFTransformation.java._trace
