<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated accessControl -->
      <package
            uri="http://sdq.ipd.kit.edu/dataflow/privacy/analysis/mm/accesscontrol"
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.accesscontrol.AccesscontrolPackage"
            genModel="model/accessControl.genmodel"/>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.generator.contributor">
      <class
            class="edu.kit.ipd.sdq.dataflow.privacy.analysis.prolog.accesscontrol.contribution.AccessControlContributor">
      </class>
   </extension>

</plugin>
